/* Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Variables */

/* Generals */
* {
	box-sizing: border-box;
}

body {
	background: #686de0;
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	margin: 0;
	padding: 20px;
}

.container {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6p rgba(0, 0, 0, 0.1);
	padding: 50px 20px;
	text-align: center;
	max-width: 100%;
	width: 800px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

h3 {
	margin: 0;
	opacity: 0.5;
	letter-spacing: 2px;
}

.joke {
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 40px;
	margin: 50px auto;
	max-width: 600px;
}

.btn {
	background: #9f68e0;
	border: 0;
	border-radius: 10px;
	color: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6p rgba(0, 0, 0, 0.1);
	padding: 14px 40px;
	font-size: 1rem;
	cursor: pointer;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.btn:hover {
	transform: scale(0.98);
	opacity: 0.9;
	-webkit-transform: scale(0.98);
	-moz-transform: scale(0.98);
	-ms-transform: scale(0.98);
	-o-transform: scale(0.98);
}

.btn:focus {
	outline: 0;
}